<div class="row content-header">
  <div class="col l4 offset-l4 m6 offset-m3 s12 title-container">
    <h1 class="header-text animated fadeIn">Partners</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col m3 l2 link-container hide-on-small-only">
      <h5>About</h5>
      <ul class="links-list">
        <li><a ui-sref="about.story">OUR STORY</a></li>
        <li><a ui-sref="about.board">THE BOARD</a></li>
        <li class="active-page"><a ui-sref="about.partners">PARTNERS</a></li>
        <li><a ui-sref="about.testimonials" id="testimonialslink">TESTIMONIALS</a></li>
      </ul>
    </div>
    <div class="col s12 m9 l8 offset-l1 content-main">
      <h5 class="partners-description">We would like to recognize our partners as they are vital to the
        progress we have accomplished within the community. Thank you for your
        generosity!
      </h5>
      <hr>
      <div class="partners-container">
        <h5>Partners</h5>
        <br>
        <br>
        <div class="partners-image-container col l3 m4 s6" ng-repeat="partner in partners">
          <img src="{{partner.imgUrl}}"/>
        </div>
      </div>
      <div class="row">
        <hr  class="col s12 l12 m12">
      </div>
      <!-- <form action="/account/profile" method="POST" class="form-horizontal"> -->
      <div class="become-a-partner-container">
        <div class="row">
          <h5>Become a Partner</h5>
          <br>
        </div>
        <div class="row">
          <form class="form-horizontal" ng-submit="becomeAPartner()">
            <input type="hidden" name="_csrf"/>
            <div class="row">
              <div class="input-field col l6 m6 s6">
                <input type="text" id="firstName" class="validate" ng-model="newPartner.firstName" ng-required="true"/>
                <label for="firstName" class="control-label">First name *</label>
              </div>
              <div class="input-field col l6 m6 s6">
                <input type="text" id="lastName" class="validate" ng-model="newPartner.lastName" ng-required="true"/>
                <label for="lastName" class="control-label">Last name *</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col l12 m12 s12">
                <input type="text" id="email" class="validate" ng-model="newPartner.email" ng-required="true"/>
                <label for="email" class="control-label">Email Address *</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col l12 m12 s12">
                <input type="tel"id="phone" class="validate" ng-model="newPartner.phone"/>
                <label for="phone" class="control-label">Phone number (Optional)</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col l12 m12 s12">
                <input type="text" id="organization" class="validate" ng-model="newPartner.organization" ng-required="true" />
                <label for="organization" class="control-label">Organization Name *</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col l12 m12 s12">
                <textarea type="text" id="comments" class="materialize-textarea validate" ng-model="newPartner.comments" />
                <label for="comments" class="control-label">Comments (Optional)</label>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-4">
                <button type="submit-btn" class="btn btn btn-primary submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
