/*
Styling for the about page.
*/

/*Styling for the navigation links*/
.link-container{
  overflow: visible;
  position: relative;
  height: inherit;
  margin-top: 50px;
}
.links-list li{
  margin: 5px;
}
.links-list li > a{
  position: relative;
  color: black;
}

/*Styling for the main page content*/
.content-main{
  margin-top: 40px;
  margin-bottom: 60px;
}

/*Styling for board members subpage*/
.board-image-container{
  overflow: auto;
  text-align: center;
}
#board-image{
  width: 80%;
}
.board-member-info{
  /*overflow: auto;*/
}

/*Styling for testimonials subpage*/
.testimonial-item{
  text-align: center;
  line-height: 2;
}
.light-font{
  color: gray;
  font-family: "adobe-garamond";
}
.partners-description{
  text-align: center;
  color: rgba(116,59,140,.99999999999);
  line-height: 1.5;
}
.partners-container h5, .become-a-partner-container h5{
  color: black;
}
.partners-image-container{
  height: 200px;
  position: relative;
}
.partners-image-container img{
  max-height: 95%;
  max-width: 95%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
