<div class="row content-header">
  <div class="col s12 title-container">
    <h1 class="header-text">Event Registration</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col m3 l2 link-container hide-on-small-only">
      <h5>Events</h5>
      <ul class="links-list">
        <li><a ui-sref="events.upcomingevents">UPCOMING EVENTS</a></li>
        <li class="active-page"><a ui-sref="events.attendeeregistration">ATTENDEE REGISTRATION</a></li>
        <li><a ui-sref="events.vendorregistration">VENDOR REGISTRATION</a></li>
        <li><a ui-sref="events.attendeeinformation">ATTENDEE INFORMATION</a></li>
        <li><a ui-sref="events.vendorinformation">VENDOR INFORMATION</a></li>
      </ul>
    </div>
    <div class="col s12 m7 l8 offset-l1 content-main">
      <form class="form-horizontal" ng-submit="registerAttendee()">
        <input type="hidden" name="_csrf"/>
        <div class="row">
          <div class="input-field col l6 m6 s6">
            <input type="text" id="firstName" class="validate" ng-model="register.firstName" ng-required="true"/>
            <label for="firstName" class="control-label">First name *</label>
          </div>
          <div class="input-field col l6 m6 s6">
            <input type="text" id="lastName" class="validate" ng-model="register.lastName" ng-required="true"/>
            <label for="lastName" class="control-label">Last name *</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col l12 m12 s12">
            <input type="text" id="email" class="validate" ng-model="register.email" ng-required="true"/>
            <label for="email" class="control-label">Email Address *</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col l12 m12 s12">
            <input type="tel"id="phone" class="validate" ng-model="register.phone" ng-required="true"/>
            <label for="phone" class="control-label">Phone number *</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col l6 m6 s6">
            <input type="number" id="age" class="validate" ng-model="register.age" ng-required="true"/>
            <label for="age" class="control-label">Age *</label>
          </div>
          <md-button class="md-primary dropdown" ng-click="myDropdownIsActive=myDropdownIsActive" ng-class="{active:myDropdownIsActive}">
            Gender (Optional)
            <ul class="dropdown-menu md-whiteframe-z1">
              <li><md-button>Male</md-button></li>
              <li><md-button>Female</md-button></li>
              <li><md-button>Other</md-button></li>
            </ul>
          </md-button>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-4">
            <button type="submit-btn" class="btn btn btn-primary submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
