<div ng-include="'components/navbar/navbar.html'"></div>

<div class="row content-header-sm">
  <div class="col s12 title-container-sm">
    <h1 class="header-text animated fadeIn">Admin Dashboard</h1>
  </div>
</div>

<div class="container">
	 <div ng-show="isAdmin()" class = "row">
		<div class="col s12 m12 l12">
      <md-toolbar class="md-theme-light">
       <h2 class="md-toolbar-tools">
         <span>Upcoming Events</span>
         <div>
         <a id="excel-btn1" class="btn-floating" ng-click="produceAttendeeCSV(event)"><i style="font-size:7px">{{'Attendees'}}</i></a>
       </div>
        <div>
         <a id="excel-btn2" class="btn-floating" ng-click="produceVendorCSV(event)"><i style="font-size:7px">{{'Vendors'}}</i></a>
       </div>
       <div>
         <a id="excel-btn3" class="btn-floating" ng-click="produceVolunteerCSV(event)"><i style="font-size:7px">{{'Volunteers'}}</i></a>
       </div>
       <div class="new-event-container">
           <button class="btn btn-default" ng-click="createEvent()">Create Event</button>
       </h2>
     </md-toolbar>
     <md-content>
       <md-list>
         <md-list-item class="md-3-line" ng-repeat="event in events | orderBy:'start'">
           <div class="md-list-item-text event-item" >
             <div id="event-content" class="row">
               <div class="col l10 m8 s8">
                 <h3>{{event.title}}</h3>
                 <h4>{{event.startDate}}</h4>
                 <p>{{event.description}}</p>
                 <button class="btn btn-default" ng-click="editDetails(event)" style = "margin-top: 20px">Edit Event</button>
               </div>
               <div id="event-controls"class="col l2 m4 s4 clearfix" >
                 <div class="time">{{event.startTime}} - {{event.endTime}}</div>
                 <a id="event-details-btn" class="btn-floating" ng-click="showDetails(event)"><i class="material-icons">{{showDetails[event._id] ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</i></a>
               </div>
             </div>
             <div id="detailed-info" class="row" ng-show="showDetails[event._id]">
               <md-toolbar class="md-theme-light small-toolbar" style = "margin-top: 60px">
                <h2 class="md-toolbar-tools small-toolbar">
                  <span ng-show="event.attendees.length > 0">Attendees</span>
                  <span ng-show="event.attendees.length < 1">There are no attendees for this event.</span>
                </h2>
              </md-toolbar>
               <table ng-show="event.attendees.length > 0" class="striped">
                <thead>
                  <tr>
                    <th data-field="name">Name</th>
                    <th data-field="email">Email</th>
                    <th class="check-in" data-field="checked in">Check in</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="attendee in event.attendees">
                    <td width="30%">{{attendee.firstName}} {{attendee.lastName}}</td>
                    <td width="60%">{{attendee.email}}  </td>
                    <td class="check-in" >
                      <input type="checkbox" id="{{attendee._id}}"  ng-checked="attendee.checkedIn" ng-click="checkBoxAttendee(attendee, $event)"/>
                      <label for="{{attendee._id}}"></label>
                    </td>
                  </tr>
                </tbody>
              </table>
             </div>
             <br>
             <div id="detailed-info" class="row" ng-show="showDetails[event._id]">
               <md-toolbar class="md-theme-light small-toolbar">
                <h2 class="md-toolbar-tools small-toolbar">
                  <span ng-show="event.volunteers.length > 0">Volunteers</span>
                  <span ng-show="event.volunteers.length < 1">There are no volunteers for this event.</span>
                </h2>
              </md-toolbar>
               <table ng-show="event.volunteers.length > 0" class="striped">
                <thead>
                  <tr>
                    <th data-field="name">Name</th>
                    <th data-field="email">Email</th>
                    <th class="check-in" data-field="checked in">Check in</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="volunteer in event.volunteers">
                    <td width="30%">{{volunteer.firstName}} {{volunteer.lastName}}</td>
                    <td width="60%">{{volunteer.email}}  </td>
                    <td class="check-in">
                      <input type="checkbox" id="{{volunteer._id}}" ng-checked="volunteer.checkedIn" ng-click="checkBoxVol(volunteer, $event)"/>
                      <label for="{{volunteer._id}}"></label>
                    </td>
                  </tr>
                </tbody>
              </table>
           </div>
           <br>
           <div id="detailed-info" class="row" ng-show="showDetails[event._id]">
               <md-toolbar class="md-theme-light small-toolbar">
                <h2 class="md-toolbar-tools small-toolbar">
                  <span ng-show="event.vendors.length > 0">Vendors</span>
                  <span ng-show="event.vendors.length < 1">There are no vendors for this event.</span>
                </h2>
              </md-toolbar>
               <table ng-show="event.vendors.length > 0" class="striped">
                <thead>
                  <tr>
                    <th data-field="name">Name</th>
                    <th data-field="email">Organization</th>
                    <th class="check-in" data-field="checked in">Approve</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="vendor in event.vendors">
                    <td width="30%">{{vendor.firstName}} {{vendor.lastName}}</td>
                    <td width="60%">{{vendor.organizationName}}  </td>
                    <td class="check-in">
                      <input type="checkbox" id="{{vendor._id}}" ng-checked="vendor.approved" ng-click="checkBox(vendor, $event)"/>
                      <label for="{{vendor._id}}"></label>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="new-event-container">
                <button class="btn btn-default" ng-click="deleteEvent(event)" style = "margin-top: 40px">Delete Event</button>
              </div>
           </div>
           <hr class="simple-hr">
         </div>

         </md-list-item>

       </md-list>
     </md-content>
     <div ng-hide="isAdmin()" class="row">
      <h2>You are not an admin. Please log in as an admin to view this page.</h2>
     </div>
		</div>
	</div>

  <br>
  <br>

  <div ng-show="isAdmin()" class = "row">
    <div class="col s12 m12 l12">
      <md-toolbar class="md-theme-light">
       <h2 class="md-toolbar-tools">
         <span>Donations</span>
       </h2>
     </md-toolbar>
     <md-content>
       <md-list>
         <md-list-item class="md-3-line" ng-repeat="donation in donations | orderBy:'start'">
           <div class="md-list-item-text event-item" >
             <div id="event-content" class="row">
               <div class="col l12 m12 s12">
                 <h3>{{donation.firstName}} {{donation.lastName}}</h3>
                 <p>{{donation.amount}}</p>
                 <p>{{donation.level}}</p>
               </div>
             </div>
             <hr class="simple-hr">
           </div>
         </md-list-item>

       </md-list>
     </md-content>
     <div ng-hide="isAdmin()" class="row">
      <h2>You are not an admin. Please log in as an admin to view this page.</h2>
     </div>
    </div>
  </div>


  <div ng-show = "isAdmin()" class = "row">
    <div class = "col s12 m12 l12">
      <md-toolbar class="md-theme-light">
        <h2 class = "md-toolbar-tools">
          <span>Tutors</span>
        </h2>
      </md-toolbar>
      <md-content>
        <table ng-show="tutors.length > 0" class="striped">
            <thead>
              <tr>
                <th data-field="name">Name</th>
                <th data-field="email">Email</th>
                <th class="check-in" data-field="checked in">Check in</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="tutor in tutors">
                  <td width="30%">{{tutor.firstName}} {{tutor.lastName}}</td>
                  <td width="30%">{{tutor.email}}  </td>
                  <td class="check-in">
                    <button type="btn" ng-click = "checkIn(tutor)" class="btn btn btn-primary submit">Check In For Today</button>
                    <label for="{{tutor._id}}"></label>
                  </td>
              </tr>
            </tbody>
        </table>
      </md-content>
      <div ng-hide="isAdmin()" class="row">
        <h2>You are not an admin. Please log in as an admin to view this page.</h2>
       </div>
    </div>
  </div>
</div>


<div ng-include="'app/content/footer/footer.html'"></div>
