.md-toolbar-tools{
	background-color: #00746b;
}

.small-toolbar{
	/*background-color: #00746b;*/
	min-height: 45px;
	height: 45px;
	color: rgba(255,255,255,0.87);
}

.simple-hr{
	margin-top: 2px;
	margin-bottom: 0px;
}

.event-item{
	margin-top: 6px;
	margin-bottom:6px;
	/*background-color: #eee4f2;*/
	padding-top: 10px;
}

#excel-btn1{
	position: absolute;
	bottom: 10px;
	right: 122px;
}
#excel-btn2{
	position: absolute;
	bottom: 10px;
	right: 82px;
}
#excel-btn3{
	position: absolute;
	bottom: 10px;
	right: 42px;
}
#excel-btn4{
	position: absolute;
	bottom: 10px;
	right: 2px;
}

#event-content{
	margin: 0px;
	display:flex;
}

#event-controls{
	position: relative;
	padding-bottom: 54px;
}

.time{
	float: right;
}

#event-details-btn{
	position: absolute;
	bottom: 4px;
	right: 0;
}

#detailed-info{
	margin-left: 30px;
	margin-right: 15px;
}

.check-in{
	float:right;
	margin-right: 2px;
}

.new-event-container{
	width: 100%;
	text-align: center;
}

/*.md-datepicker-calendar, .md-datepicker-input-mask-opaque{
    background: rgb(255,255,255);
}

.md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator{
    background: rgb(33,150,243);
    color: rgb(255,255,255);
    border-color: transparent;
}

.md-calendar-date-selection-indicator:hover{
    background: rgb(224,224,224);
}
.md-calendar-day-header{
    background: rgb(224,224,224);
    color: rgba(0,0,0,0.87);
}
.md-calendar-date-disabled, .md-calendar-month-label-disabled{
    color: rgba(0,0,0,0.26);
}*/
.md-datepicker-input.md-input {
color: rgba(0,0,0,0.87);
}
