<link rel="stylesheet" href="components/navbar/navbar.css">

<div layout="column" layout-fill>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span>Women Working with Women</span>
      <!-- fill up the space between left and right area -->
      <span flex></span>
      <div class="navbar-button-container">
        <md-button>
          <a href="/">Home</a>
        </md-button>
        <md-button>
          <a href="/about">About</a>
        </md-button>
        <md-button>
          <a href="/services">Services</a>
        </md-button>
        <md-button>
          <a href="/gallery">Gallery</a>
        </md-button>
        <md-button>
          <a href="/events">Events</a>
        </md-button>
        <md-button>
          <a href="/donations">Donations</a>
        </md-button>
        <md-button>
          <a href="/contact_us">Contact Us</a>
        </md-button>
        <md-button>
          <a href="/take_action">Take Action</a>
        </md-button>
      </div>
    </div>
  </md-toolbar>
</div>
