<!-- Dropdown Structure -->
<link rel="stylesheet" href="components/navbar/navbar.css">

<div ng-controller="NavBarCtrl">
  <!--large dropdowns -->
  <ul id="about-dropdown" class="dropdown-content">
    <li ng-class="{'active-page': routeIs('/about/story')}"><a href="/about/story">Our Story</a></li>
    <li ng-class="{'active-page': routeIs('/about/board')}"><a href="/about/board">The Board</a></li>
    <li ng-class="{'active-page': routeIs('/about/partners')}"><a href="/about/partners">Partners</a></li>
    <li ng-class="{'active-page': routeIs('/about/testimonials')}"><a href="/about/testimonials">Testimonials</a></li>
  </ul>
  <ul id="services-dropdown" class="dropdown-content">
    <li ng-class="{'active-page': routeIs('/services/professional')}"><a href="/services/professional">Professional</a></li>
    <li ng-class="{'active-page': routeIs('/services/community')}"><a href="/services/community">Community</a></li>
  </ul>
  <ul id="events-dropdown" class="dropdown-content">
    <li ng-class="{'active-page': routeIs('/events/upcomingevents')}"><a href="/events/upcomingevents">Upcoming Events</a></li>
    <li ng-class="{'active-page': routeIs('/events/attendeeregistration')}"><a href="/events/attendeeregistration">Attendee Registration</a></li>
    <li ng-class="{'active-page': routeIs('/events/vendorregistration')}"><a href="/events/vendorregistration">Vendor Registration</a></li>
    <li ng-class="{'active-page': routeIs('/events/conferenceinformation')}"><a href="/events/conferenceinformation">Conference Information</a></li>
  </ul>
  <ul id="take_action-dropdown" class="dropdown-content">
    <li ng-class="{'active-page': routeIs('/take_action/volunteer')}"><a href="/take_action/volunteer">Volunteer</a></li>
    <li ng-class="{'active-page': routeIs('/take_action/tutor')}"><a href="/take_action/tutor">Tutor</a></li>
  </ul

  <!--mpobile dropdowns  -->
  <ul id="about-dropdown-mobile" class="dropdown-content">
    <li ng-class="{'active-page': routeIs('/about/story')}"><a href="/about/story" ng-click="closeNav()">Our Story</a></li>
    <li ng-class="{'active-page': routeIs('/about/board')}"><a href="/about/board" ng-click="closeNav()">The Board</a></li>
    <li ng-class="{'active-page': routeIs('/about/partners')}"><a href="/about/partners" ng-click="closeNav()">Partners</a></li>
    <li ng-class="{'active-page': routeIs('/about/testimonials')}"><a href="/about/testimonials" ng-click="closeNav()">Testimonials</a></li>
  </ul>

  <ul id="services-dropdown-mobile" class="dropdown-content">
    <li ng-class="{'active-page': routeIs('/services/professional')}"><a href="/services/professional" ng-click="closeNav()">Professional</a></li>
    <li ng-class="{'active-page': routeIs('/services/community')}"><a href="/services/community" ng-click="closeNav()">Community</a></li>
  </ul>

  <ul id="events-dropdown-mobile" class="dropdown-content">
    <li ng-class="{'active-page': routeIs('/events/upcomingevents')}"><a href="/events/upcomingevents" ng-click="closeNav()">Upcoming Events</a></li>
    <li ng-class="{'active-page': routeIs('/events/attendeeregistration')}"><a href="/events/attendeeregistration" ng-click="closeNav()">Attendee Registration</a></li>
    <li ng-class="{'active-page': routeIs('/events/vendorregistration')}"><a href="/events/vendorregistration" ng-click="closeNav()">Vendor Registration</a></li>
    <li ng-class="{'active-page': routeIs('/events/conferenceinformation')}"><a href="/events/conferenceinformation" ng-click="closeNav()">Conference Information</a></li>
  </ul>

  <ul id="take_action-dropdown-mobile" class="dropdown-content">
    <li ng-class="{'active-page': routeIs('/take_action/volunteer')}"><a href="/take_action/volunteer" ng-click="closeNav()">Volunteer</a></li>
    <li ng-class="{'active-page': routeIs('/take_action/tutor')}"><a href="/take_action/tutor" ng-click="closeNav()">Tutor</a></li>
  </ul

  <!-- navbar  -->
  <nav>
    <div class="nav-wrapper">
      <a href="#" data-activates="mobile-nav" class="right nav-component-center button-collapse"><i class="mdi-navigation-menu"></i></a>
      <a href="/" class="brand-logo left"><img id="logo" src="http://i.imgur.com/cRMPeT9.png" /></a>
      <ul class="right nav-component-center hide-on-med-and-down">
        <li ng-class="{'active-page': routeIs('/')}"><a href="/" >Home</a></li>
        <li ng-class="{'active-page': routeContains('/about')}"><a class="dropdown-button" href="/about/story" data-beloworigin="true" data-hover="true" data-constrainwidth="false" data-activates="about-dropdown">About</a></li>
        <li ng-class="{'active-page': routeContains('/services')}"><a class="dropdown-button" href="/services/professional" data-beloworigin="true" data-hover="true" data-constrainwidth="false" data-activates="services-dropdown">Services</a></li>
        <li ng-class="{'active-page': routeIs('/gallery')}"><a href="/gallery">Gallery</a></li>
        <li ng-class="{'active-page': routeContains('/events')}"><a class="dropdown-button" href="/events/upcomingevents" data-beloworigin="true" data-hover="true" data-constrainwidth="false" data-activates="events-dropdown">Events</a></li>
        <li ng-class="{'active-page': routeIs('/donations')}"><a href="/donations">Donations</a></li>
        <li ng-class="{'active-page': routeIs('/contact_us')}"><a href="/contact_us">Contact Us</a></li>
       <li ng-class="{'active-page': routeContains('/take_action')}"><a class="dropdown-button" href="/take_action/volunteer" data-beloworigin="true" data-hover="true" data-constrainwidth="false" data-activates="take_action-dropdown">Take Action</a></li>
        <li ng-class="{'active-page': routeIs('/admin_dash')}" ng-show="isAdmin()" id="admindashlink"><a href="/admin_dash">Admin Dashboard</a></li>
      </ul>
      <ul class="side-nav" id="mobile-nav">
        <li ng-class="{'active-page': routeIs('/')}"><a href="/" ng-click="closeNav()">Home</a></li>
        <li ng-class="{'active-page': routeContains('/about')}"><a class="dropdown-button" data-beloworigin="true"  data-constrainwidth="false" data-activates="about-dropdown-mobile">About</a></li>
        <li ng-class="{'active-page': routeContains('/services')}"><a class="dropdown-button"  data-beloworigin="true" data-constrainwidth="false" data-activates="services-dropdown-mobile">Services</a></li>
        <li ng-class="{'active-page': routeIs('/gallery')}"><a href="/gallery" ng-click="closeNav()">Gallery</a></li>
        <li ng-class="{'active-page': routeContains('/events')}"><a class="dropdown-button" data-beloworigin="true"  data-constrainwidth="false" data-activates="events-dropdown-mobile">Events</a></li>
        <li ng-class="{'active-page': routeIs('/donations')}"><a href="/donations" ng-click="closeNav()">Donations</a></li>
        <li ng-class="{'active-page': routeIs('/contact_us')}"><a href="/contact_us" ng-click="closeNav()">Contact Us</a></li>
        <li ng-class="{'active-page': routeContains('/take_action')}"><a class="dropdown-button" data-beloworigin="true"  data-constrainwidth="false" data-activates="take_action-dropdown-mobile">Take Action</a></li>
        <li ng-class="{'active-page': routeIs('/admin_dash')}" ng-show="isAdmin()" id="admindashlink"><a href="/admin_dash" ng-click="closeNav()">Admin Dashboard</a></li>
      </ul>
    </div>
  </nav>
</div>
