
nav{
  height: 100px;
  background-color: white;
}

.brand-logo{
  height: 100%;
}

.nav-component-center{
  margin-top: 18px;
}

.nav-component-center li > a, .side-nav li > a{
  color: rgba(116,59,140,.99999999999);
}

.button-collapse{
  color: rgba(116,59,140,.99999999999);
  margin-right: 5px;
}

#logo {
    height: auto;
    width: auto;
    max-height: 90px;
    margin-top: 5px;
    margin-left: 5px;
}

.dropdown-content li > a{
  color: rgba(116,59,140,.99999999999);
}
