<!-- Dropdown Structure -->
<link rel="stylesheet" href="components/navbar/navbar.css">

<div ng-controller="NavBarCtrl">
  <!--large dropdowns -->
  <ul id="about-dropdown" class="dropdown-content">
    <li><a href="/about/story">Our Story</a></li>
    <li><a href="/about/board">The Board</a></li>
    <li><a href="/about/partners">Partners</a></li>
    <li><a href="/about/testimonials">Testimonials</a></li>
  </ul>
  <ul id="services-dropdown" class="dropdown-content">
    <li><a href="/professional">Professional</a></li>
    <li><a href="/personal">Personal</a></li>
  </ul>

  <!--mpobile dropdowns  -->
  <ul id="about-dropdown-mobile" class="dropdown-content">
    <li><a href="/about/story" ng-click="closeNav()">Our Story</a></li>
    <li><a href="/about/board" ng-click="closeNav()">The Board</a></li>
    <li><a href="/about/partners" ng-click="closeNav()">Partners</a></li>
    <li><a href="/about/testimonials" ng-click="closeNav()">Testimonials</a></li>
  </ul>

  <ul id="services-dropdown-mobile" class="dropdown-content">
    <li><a href="/professional" ng-click="closeNav()">Professional</a></li>
    <li><a href="/personal" ng-click="closeNav()">Personal</a></li>
  </ul>

  <!-- navbar  -->
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo left"><img id="logo" src="http://i.imgur.com/cRMPeT9.png" /></a>
      <a href="#" data-activates="mobile-nav" class="right nav-component-center button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class="right nav-component-center hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a class="dropdown-button" href="/about/story" data-beloworigin="true" data-hover="true" data-constrainwidth="false" data-activates="about-dropdown">About</a></li>
        <li><a class="dropdown-button" href="/services/professional" data-beloworigin="true" data-hover="true" data-constrainwidth="false" data-activates="services-dropdown">Services</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/donations">Donations</a></li>
        <li><a href="/contact_us">Contact Us</a></li>
        <li><a href="/take_action">Take Action</a></li>
      </ul>
      <ul class="side-nav" id="mobile-nav">
        <li><a href="/" ng-click="closeNav()">Home</a></li>
        <li><a class="dropdown-button" data-beloworigin="true"  data-constrainwidth="false" data-activates="about-dropdown-mobile">About</a></li>
        <li><a class="dropdown-button"  data-beloworigin="true" data-constrainwidth="false" data-activates="services-dropdown-mobile">Services</a></li>
        <li><a href="/gallery" ng-click="closeNav()">Gallery</a></li>
        <li><a href="/events" ng-click="closeNav()">Events</a></li>
        <li><a href="/donations" ng-click="closeNav()">Donations</a></li>
        <li><a href="/contact_us" ng-click="closeNav()">Contact Us</a></li>
        <li><a href="/take_action" ng-click="closeNav()">Take Action</a></li>
      </ul>
    </div>
  </nav>
</div>
