
.contact-info p{
  text-align: center;
  /*font-weight: 400;*/
}
.contact-info b{
  text-align: left;
  /*font-weight: 700;*/
  /*font-size: 125%;*/
  color: rgba(116, 59, 140, 0.999999);
}
.form-card{
  width: 95%;
}

md-icon.email {
    color: green;
}

md-icon.name {
    color: blue;
}

md-icon.phone {
    color: blue;
}

md-icon.subject {
    color: blue;
}

md-icon.message {
    color: blue;
}
