<div ng-include="'components/navbar/navbar.html'"></div>

<div class="row content-header">
  <div class="col s12 title-container">
    <h1 class="header-text">Donate</h1>
    <h1 class="header-text"><p>Be the change you want to see</p></h1>
  </div>
</div>

<div id="content" class="container">
  <div class="row">
    <div class="content-main" align="center">
      <h4>Donations go to helping us improve all our programs that enhance the lives of people in the community.</h4>
      <p>There are four different levels of donations but we are grateful for any and all donations that are provided.</p>
      <p align="center"></p>

      <!--<div ng-repeat="level in donationLevels">
      	<p>Testing</p>
    	<h4>{{level.name}}</h4>
    	<img id="donation-image" src="{{level.image}}"></img>
    	<div ng-repeat="benefit in level.benefits">
    		<p>{{benefit}}</p>
		</div>
		</div>-->
    </div>
  </div>

  <div class="row">
  	<div class="col l6 m6 s12 center-align">
  		<h4 align="center">DIAMOND</H4>
  		<p align="center"><img align="center" src="http://static1.squarespace.com/static/55668bf5e4b01b9595a550b0/t/55675542e4b08539e5000937/1432835398486/%241000+and+up?format=300w"></p>
  		<h5 align="center">$1000 and up</h5>
  		<ul align="center">
  			<li>• ‌Company logo on all promotional material</li>
  			<li>‌• Company logo featured on website</li>
  			<li>‌• Opportunity to display company material at fundraisers</li>
  			<li>‌• Invited to display promotional material at fundraisers</li>
  		</ul>
  	</div>
  	<div class="col l6 m6 s12 center-align">
  		<h4 align="center">RUBY</H4>
  		<p align="center"><img align="center" src="http://static1.squarespace.com/static/55668bf5e4b01b9595a550b0/t/55675d15e4b0622d21b1f697/1432837398161/?format=300w"></p>
  		<h5 align="center">$500 - $999</h5>
  		<ul align="center">
  			<li>‌• Company logo on all promotional information</li>
  			<li>‌• Company logo featured on website</li>
  			<li>‌• Recognition at fundraisers</li>
  			<li>•‌ Invited to display promotional material at fundraisers</li>
  		</ul>
  	</div>
	</div>

	<div class="row">
  	<div class="col l6 m6 s12 center-align">
  		<h4 align="center">EMERALD</h4>
  		<p align="center"><img align="center" src="http://static1.squarespace.com/static/55668bf5e4b01b9595a550b0/t/55675d8ee4b08539e500431a/1432837518840/Geschliffener_blauer_Saphir.jpg?format=300w"></p>
  		<h5 align="center">$100 - $499</h5>
  		<ul align="center">
  			<li>‌• Company logo featured on website</li>
  			<li>‌• Recognition at fundraisers</li>
  			<li>‌• Invited to display promotional material at fundraisers</li>
  		</ul>
  	</div>
  	<div class="col l6 m6 s12 center-align">
  		<h4 align="center">SAPPHIRE</H4>
  		<p align="center"><img align="center" src="http://static1.squarespace.com/static/55668bf5e4b01b9595a550b0/t/55675d74e4b05a70c053923a/1432837492899/ventotene.jpg?format=300w"></p>
  		<h5 align="center">$100 and under</h5>
  		<ul align="center">
  			<li>•‌ Company logo featured on website</li>
  			<li>‌• Recognition at fundraisers</li>
  		</ul>
  	</div>
	</div>
  <br>
  <div class="row center-align">
    <div class="card-panel grey lighten-5 center-align">
      <!-- record donations to database as well for record -->
      <!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post" ng-submit="addDonation()">
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="business" value="accounts@freelanceswitch.com">
        <input type="hidden" name="item_name" value="Donation">
        <input type="hidden" name="item_number" value="1">
        <input placeholder="0.00" type="text" name="amount" ng-model="donation.amount" value="10.00">
        <input placeholder="First Name" id="first_name" ng-model="donation.firstName" type="text" class="validate">
        <input placeholder="Last Name" id="last_name" ng-model="donation.lastName" type="text"  class="validate">
        <input placeholder="Email" id="email" ng-model="donation._id" type="text" class="validate">
        <input type="hidden" name="no_shipping" value="0">
        <input type="hidden" name="no_note" value="1">
        <input type="hidden" name="currency_code" value="USD">
        <input type="hidden" name="lc" value="AU">
        <input type="hidden" name="bn" value="PP-BuyNowBF">
        <input type="submit" class="waves-effect waves-light btn" value="DONATE">
        <img alt="" border="0" src="https://www.paypal.com/en_AU/i/scr/pixel.gif" width="1" height="1">
      </form> -->
      <form id="paypalForm" ng-submit="addDonation()">
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="business" value="tests@tests.com">
        <input type="hidden" name="item_name" value="Donation">
        <input type="hidden" name="item_number" value="1">
        <input placeholder="0.00" type="text" name="amount" ng-model="donation.amount"  value="10.00" required>
        <input placeholder="First Name" id="first_name" ng-model="donation.firstName" type="text" class="validate" required>
        <input placeholder="Last Name" id="last_name" ng-model="donation.lastName" type="text"  class="validate" required>
        <input placeholder="Email" id="email" ng-model="donation._id" type="email" class="validate" required>
        <input type="hidden" name="no_shipping" value="0">
        <input type="hidden" name="no_note" value="1">
        <input type="hidden" name="currency_code" value="USD">
        <input type="hidden" name="lc" value="AU">
        <input type="hidden" name="bn" value="PP-BuyNowBF">
        <input type="submit" class="waves-effect waves-light btn" value="DONATE">
        <img alt="" border="0" src="https://www.paypal.com/en_AU/i/scr/pixel.gif" width="1" height="1">
      </form>
    </div>
  </div>
</div>

<div ng-include="'app/content/footer/footer.html'"></div>
