<div ng-include="'components/navbar/navbar.html'"></div>

<div class="row content-header">
  <div class="col s12 title-container">
    <h1 class="header-text">Donate</h1>
    <h1 class="header-text"><p>Be the change you want to see</p></h1>
  </div>
</div>

<div id="content" class="container">
  <div class="row">
    <div class="content-main" align="center">
      <h4>Donations go to helping us improve all our programs that enhance the lives of people in the community.</h4>
      <p>There are four different levels of donations but we are grateful for any and all donations that are provided.</p>
      <p align="center"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=2EL4AHWPFR8R4" target="_blank"><img src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif"></a></p>

      <!--<div ng-repeat="level in donationLevels">
      	<p>Testing</p>
    	<h4>{{level.name}}</h4>
    	<img id="donation-image" src="{{level.image}}"></img>
    	<div ng-repeat="benefit in level.benefits">
    		<p>{{benefit}}</p>
		</div>
		</div>-->
    </div>
  </div>

  <div layout="row">
	<div flex>
		<h4 align="center">DIAMOND</H4>
		<p align="center"><img src="http://static1.squarespace.com/static/55668bf5e4b01b9595a550b0/t/55675542e4b08539e5000937/1432835398486/%241000+and+up?format=300w"></p>
		<p align="center">$1000 AND UP</p>
		<ul>
			<li>‌• Company logo on all promotional material</li>
			<li>‌• Company logo featured on website</li>
			<li>‌• Opportunity to display company material at fundraisers</li>
			<li>‌• Invited to display promotional material at fundraisers</li>
		</ul>
	</div>
	<div flex>
		<h4 align="center">RUBY</H4>
		<p align="center"><img src="http://static1.squarespace.com/static/55668bf5e4b01b9595a550b0/t/55675d15e4b0622d21b1f697/1432837398161/?format=300w"></p>
		<p align="center">$500 - $999</p>
		<ul>
			<li>‌• Company logo on all promotional information</li>
			<li>‌• Company logo featured on website</li>
			<li>‌• Recognition at fundraisers</li>
			<li>‌• Invited to display promotional material at fundraisers</li>
		</ul>
	</div>
	</div>

	<div layout="row">
	<div flex>
		<h4 align="center">EMERALD</H4>
		<p align="center"><img src="http://static1.squarespace.com/static/55668bf5e4b01b9595a550b0/t/55675d8ee4b08539e500431a/1432837518840/Geschliffener_blauer_Saphir.jpg?format=300w"></p>
		<p align="center">$100 - $499</p>
		<ul>
			<li>‌• Company logo featured on website</li>
			<li>‌• Recognition at fundraisers</li>
			<li>‌• Invited to display promotional material at fundraisers</li>
		</ul>
	</div>
	<div flex>
		<h4 align="center">SAPPHIRE</H4>
		<p align="center"><img src="http://static1.squarespace.com/static/55668bf5e4b01b9595a550b0/t/55675d74e4b05a70c053923a/1432837492899/ventotene.jpg?format=300w"></p>
		<p align="center">$100 AND UNDER</p>
		<ul>
			<li>‌• Company logo featured on website</li>
			<li>‌• Recognition at fundraisers</li>
		</ul>
	</div>
	</div>
</div>





