<div class="row content-header">
  <div class="col l4 offset-l4 m8 offset-m2 s12 title-container">
    <h1 class="header-text" style = "margin-top: 60px">Conference Information</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col m3 l2 link-container hide-on-small-only">
      <h5>Events</h5>
      <ul class="links-list">
        <li><a ui-sref="events.upcomingevents">UPCOMING EVENTS</a></li>
        <li><a ui-sref="events.attendeeregistration" id="attendeeregistrationlink">ATTENDEE REGISTRATION</a></li>
        <li><a ui-sref="events.vendorregistration">VENDOR REGISTRATION</a></li>
        <li class="active-page"><a ui-sref="events.conferenceinformation">CONFERENCE INFORMATION</a></li>
      </ul>
    </div>
    <div class="row">
        <a class="col s12 m7 l4 content-main waves-effect waves-light btn" ng-click="template='page1'">Attendee Information</a>
        <a class="col s12 m7 l4 offset-l1 content-main waves-effect waves-light btn" ng-click="template='page2'">Vendor Information</a>
        <ng-include src="template"></ng-include>
        <script type="text/ng-template" id="page1">
          <div class = "col s12 m7 l8 offset-l1" >
          <h4>Attendee Information</h4>
          <br>
          <p>
            Hello wonderful women of God! We are pleased that you are interested in attending the 2016 Women Working With Women Conference. The information provided below will give you an idea of what to expect during the conference and hopefully answer most of your questions.
          </p>
          <br>
          <h5>When, Where, and Why?</h5>
          <p><b>When:</b> July 15 2:00PM- July 17, 2016 2:00PM</p>
          <p><b>Where:</b> The Hilton University Of Florida Conference Center </p>
          <p>1714 SW 34th Street, Gainesville FL, 32307</p>
          <p><b>Why:</b> As women sometimes we tend to get lost in all of the roles we play as mothers, daughters, wives, students, career women, and everything else in between. This conference will provide all of us with the tools to take our lives back, get our life on track, and live our best lives with the Lord.<p>
          <br>
          <h5>What Should I Expect?</h5>
          <p>The 2016 Women Working With Women Conference is designed to be a get-away weekend for women of all ages. This is your time to relax, fellowship with other women, and most importantly, reconnect with our Heavenly Father.</p>
          <p>The conference will cater to three types of women: women, pastor’s wives, and teens (ages 13-17). We have inspiring, spirit-filled, workshops, general sessions, and praise and worship planned for you. We will have a vendors exhibit, prizes, a banquet fit for a queen, and other activities that will have you feeling relaxed, rejuvenated, and on fire for God. </p>
          <br>
          <h5>What Should I Bring?</h5>

          <p>• Bring what you would normally bring for a 3 day get away weekend.</p>
          <p>We do plan to have a banquet on Saturday night as well as a fashion show. The banquet is formal attire. If you would like to participate in the fashion show, please indicate your interest on the registration form when you register on the website. (See the “How to Register” section for more information.)</p>
          <p>• Formal banquet attire</p>
          <p>• Don't forget your camera!</p>
          <p>• Your best attitude and an open mind =)</p>
          <br>
          <h5>Where Should I Stay?</h5>
          <p>It is important to note that lodging is not included in your registration cost. Please contact the Hilton University of Florida Conference Center Hotel to reserve a room for your stay during the conference. We highly recommend staying in this hotel because it is the host site for the conference. We have blocked off rooms specifically for attendees and vendors of the conference on a first come first serve basis. Please contact them at 352-371-3600 to make your room reservation. Hotel room fees include breakfast coupons for Friday and Saturday and free Wi-Fi.</p>
          <br>
          <h5>How Do I Register?</h5>
          <p>We are so glad you asked. To register please click on the 'Attendee Registration' link on the left (or click on the 'Events' tab and select 'Attendee Registration'). Please select either the general women, pastor’s wife, of teen event so that we can place you in the appropriate workshops and seminars. </p>
          <p>Please complete the form and have your payment ready. You will not be able to save your registration and pay later. If you are paying for more than one person at one time, please complete a registration form for each attendee.All registration costs are subject to a service fee. After you submit the form you will be directed to the PayPal site to make the payment. The information you need to know before hand for each attendee is:</p>
          <ul>
            <li>• First and last name</li>
            <li>• Email address</li>
            <li>• Home/cell phone</li>
            <li>• Age</li>
            <li>• If they want to participate in the fashion show</li>
          </ul>
          <br>
          <p><b>General Women "Take Back Your Life":</b></p>
          <p>Early registration fee: $175 (by 6/1/16)</p>
          <p>Registration after 6/1/16: $195</p>
          <br>
          <p><b>Young Teens Ages 13-17 "Get Your Life on Track":</b></p>
          <p>Early registration fee: $99 (by 6/1/16)</p>
          <p>Registration after 5/17/16: $120</p>
          <br>
          <p><b>Pastor's Wives "Living Your Best Life":</b></p>
          <p>Early registration fee: $175 (by 6/1/16)</p>
          <p>Registration after 5/17/16: $195 </p>
          <br>

          <hr>
          <h4>If you need any assistance with the registration process please contact <b>Kayla Sutherland at 786-445-7226.</b></h4>
          <br>
          <h5>Refund Policy</h5>
          <p><b>Attendee/Vendor Refund Policy</b></p>
          <p>Any payment made for an attendee or vendor is non-refundable so please be sure you are able to commit to attending the 2016 Women Working With Women Conference. Please contact Belinda Smith for any questions or concerns with this matter at <b>4wsbms@gmail.com.</b></p>

          <br>
        </div>
        </script>
        <script type="text/ng-template" id="page2">
         <div class = "col s12 m7 l8 offset-l1">
          <h4>Vendor Information</h4>
          <br>
          <p>
            Hello there vendors! We are pleased that you are interested in becoming a vendor for the 2016 Women Working With Women Conference. The information provided below will give you an idea of what to expect during the conference and hopefully answer most of your questions.
          </p>
          <br>
          <h5>When and Where?</h5>
          <p><b>When:</b> July 15-17, 2016</p>
          <p><b>Where:</b> The Hilton University Of Florida Conference Center </p>
          <p>1714 SW 34th Street, Gainesville FL, 32307</p>
          <br>
          <h5>What Should I Expect?</h5>
          <p>The 2016 Women Working With Women Conference is designed to be a get-away weekend for women of all ages. This is your opportunity to promote your business/organization.</p>
          <p>The conference will cater to three types of women: women, pastor’s wives, and teens (ages 13-17). We have inspiring, spirit-filled, workshops, general sessions, and praise and worship planned for them. During the conference we will have a vendor's exhibit, and prize give-a-ways. </p>
          <br>
          <h5>Vendor Exhibit Display Times</h5>
          <div layout="row">
              <div flex><p><b>Date(s)</b></p></div>
              <div flex><p><b>Times(s)</b></p></div>
          </div>
          <div layout="row">
              <div flex><p>July 15, 2016</p></div>
              <div flex><p>11:00AM - 6:00PM</p></div>
          </div>
          <div layout="row">
              <div flex><p>July 16, 2016</p></div>
              <div flex><p>8:40PM - 11:00PM</p></div>
          </div>
          <div layout="row">
              <div flex><p>July 17, 2016</p></div>
              <div flex><p>8:00AM - 2:00PM</p></div>
          </div>
          <br>
          <h5>Vendor Booth Specifications and Accommodations</h5>
          <p>• One (1) 5' table</p>
          <p>• Table covering (1) will be provided</p>
          <p>• Two (2) chairs will be provided for each booth with a white or black table skirt</p>
          <p>• All spaces will be assigned by event personnel</p>
          <p>• Electrical or extension cords will not be provided. Please let us know if you need to be near an electrical outlet.</p>
          <p>• One (1) copy of the prorgram for the conference</p>
          <p>• One (1) vendor location map</p>
          <p>• Volunteers will be available to assist with setup and breakdown</p>
          <br>
          <h5>What Should I Bring?</h5>

          <p>• Business/organization banners/tablecloths</p>
          <p>• Products to sell or give away</p>
          <p>• Promotional material (free-bees)</p>
          <p>• Informational handouts</p>
          <p>• Business cards</p>
          <p>• Extension cords (if you will need a power outlet)</p>
          <br>
          <h5>Where Should I Stay?</h5>
          <p>It is important to note that lodging is not included in your registration cost. Please contact the Hilton University of Florida Conference Center Hotel to reserve a room for your stay during the conference. We highly recommend staying in this hotel because it is the host site for the conference. We have blocked off rooms specifically for attendees and vendors of the conference on a first come first serve basis. Please contact them at 352-371-3600 to make your room reservation. Hotel room fees include breakfast coupons for Friday and Saturday and free Wi-Fi.</p>
          <br>
          <h5>How Do I Register?</h5>
          <p>We are so glad you asked. To register please click on the 'Vendor Registration' link on the left (or click on the 'Events' tab and select 'Vendor Registration'). The cost for registration is $150 ($50 deposit included). You must pay the full $150 amount at one time. All registration costs are subject to a service fee.</p>
          <p><b>Registration is due by June 15, 2016</b></p>
          <p>Because of the limited amount of vendor spots we have, if you would like to register as a vendor, you will have to contact Kayla Sutherland for approval to register. Please send her an email at 4wskhs@gmail.com.</p>
          <p>Please complete the form and have your payment ready. You will not be able to save your registration and pay later. After you submit the form you will be directed to the PayPal site to make the payment. The information you need to know before hand for each vendor is:</p>
          <ul>
            <li>• First and last name</li>
            <li>• Contact email address</li>
            <li>• Contact job title</li>
            <li>• Home/cell phone</li>
            <li>• Organization/business name and address</li>
            <li>• Website (if applicable)</li>
            <li>• Fax number (if applicable)</li>
            <li>• A brief description of the product(s)/service(s) to display/sell during the conference</li>
            <li>• A description of the item to donate as raffle prize</li>
          </ul>
          
          <br>
          <hr>
          <p>After you register and submit your payment, an email will be sent to the email provided during registration with the vendor registration agreement for the vendor representative to <b>sign and send back to Kayla Sutherland at 4wskhs@gmail.com.</b></p>
          <p>If you would like to be a sponsor, give a donation, or have any questions, please contact the vendor coordinator:</p>
          <p><b>Belinda Smith: 4wsbms@gmail.com</b></p>
          <br>
          <h5>Refund Policy</h5>
          <p><b>Attendee/Vendor Refund Policy</b></p>
          <p>Any payment made for an attendee or vendor is non-refundable so please be sure you are able to commit to attending the 2016 Women Working With Women Conference. Please contact Belinda Smith for any questions or concerns with this matter at <b>4wsbms@gmail.com.</b></p>

          <br>
          </div>
        </script>
    </div>
  </div>
</div>
